.itemContainer {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
  width: 200px;
  margin: 20px;
}

.itemImage {
  width: 100%;
  height: auto;
}

.itemName {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.buttonContainer {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.itemButton {
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #29bb89;
  padding: 4px;
  font-size: 10px;
}
